<div id="container" class="forms">
    <table>
        <tr>
            <td align="center">
                <h1>Welcome to SCMS</h1>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a class="btn" href="https://www.roblox.com/groups/17965/soccer-lovers#!/about">
                    <img class="forms" src="~/images/SoccerLovers.png" title="Image credits: Soccer-Lovers Group on Roblox.com" />
                </a>
            </td>
        </tr>

    </table>
    This is the game we love!
</div>